@{
     
}

<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/content/blog/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Gniriki Games</h1>
                        <hr class="small">
                        <span class="subheading">A one-man game development adventure!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <h1 class="text-center">News</h1>
           @foreach (var doc in Documents["News"]
            .Where(x => x.ContainsKey("Published"))
            .OrderByDescending(x => x.Get<DateTime>("Published"))
            .Take(5))
            {
                <div class="post-preview">
                    <p class="post-meta">Posted on @doc["Published"]</p>
                    <h2 class="post-title">
                        @doc["Title"]
                    </h2>
                    <p>
                         @Html.Raw(doc.String("Excerpt"))
                </div>
            }
            @if(Documents["News"].Count() > 5)
            {
            <hr>
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="news-archive">Older News &rarr;</a>
                </li>
            </ul>
            }
            
        </div>
    </div>
</div>