@{
    Layout = "_Layout.cshtml";
    var Title = Model.String("Title");     
    var Page = System.IO.Path.GetFileNameWithoutExtension(Model.String("RelativeFilePath"));
}

@section Header
{
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('/content/blog/post-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>@Metadata["Title"]</h1>
                    <h2>@Metadata["Lead"]</h2>
                    
                    <span class="meta">Posted on @Metadata["Published"]</span>
                </div>
            </div>
        </div>
    </div>
</header>
}

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                @RenderBody()
                <br/>
                <div id="disqus_thread"></div>
            </div>
        </div>
    </div>
</article>

<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    
    var disqus_config = function () {
        this.page.url = 'http://gniriki.com//posts/@Page';  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = '@Page'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    
    (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
        var d = document, s = d.createElement('script');
        
        s.src = '//gniriki.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>