@font-face {
    font-family: 'PixelFont'; /*a name to be used later*/
    src: url('/fonts/ka1.ttf'); /*URL to font*/
}

body {
    font-family: 'PixelFont' !important;
    background: #304878 !important;
    color: #FFF2D9 !important;
}

.water-pixel
{
    background: transparent url(/content/games/rowchampion/water_pixel.png) 0 0 no-repeat;
	position: absolute;
	top: 150px;
	left: 65px;
	width: 1px;
	height: 1px;
	z-index: -2000;
	cursor: pointer;
    transform: scale(10,10);
}

.play-store
{
	cursor: pointer;
}

h1
{
    font-family: 'PixelFont' !important;
    letter-spacing: 2px;
    color: #FFF2D9 !important;
}

p a{
    text-decoration: none;
    font-weight: normal;
}

.youtubeEmbed {
	max-width: 90%;
}

@media screen and (max-width: 1280px) {
	.youtubeEmbed{
		width: 640px;
		height: 360px;
	}
}

@media screen and (max-width: 640px) {
	.youtubeEmbed{
			width: 480px;
			height: 270px;
		}
}

@media screen and (max-width: 1199px) 
{      
    .md-margin-top
    {
        margin-top: 40px;
    }
}

@media screen and (max-width: 992px) 
{      
    .xs-margin-top
    {
        margin-top: 40px;
    }
      
    .img-gif
    {
        display: inherit;
    }
}

@media screen and (max-width: 767px) {
	.mainlogo
    {
        margin-top: 25px;
    }
}

.fa-circle
{
    color: #FFF2D9 !important
}

.fa-inverse
{
    color:#734E0A !important;
}

.text-muted
{
    color: #C5D0E4 !important
}

footer a
{
    color: #FFF2D9
}

@media screen and (min-width: 768px) {
.navbar-custom .nav li a
{
    
}
}

@media screen and (max-width: 767px) {
.navbar-custom .nav li a, .navbar-brand
{
    color: #304878 !important
}
}

body
{
    font-size: 30px;
}

.screens img
{
    border: solid 2px #0E234C
}

h1, h2, h3, h4, h5, h6
{
    font-weight: normal;
}

.navbar-custom .nav li a, .navbar-custom .navbar-brand
{
    font-family: 'PixelFont' !important;
    letter-spacing: 2px;
    font-weight: 300 !important;
}