@section Head
{
    <link href="/css/rowchampion.css" rel="stylesheet">
}

<div class="container">
        
    <div class="row pixelFont">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center">
            <img class="img-responsive mainlogo" src="/content/games/rowchampion/mainlogo.png"/>
            <h1>Coming soon to Android devices near you!</h1>
        </div>
     </div>
     
     <div class="row pixelFont play-store">
        <div class="col-lg-2 col-lg-offset-4 col-md-2 col-md-offset-4 col-xs-8 col-xs-offset-2 text-center">
              <a href="https://twitter.com/Gniriki" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @@Gniriki</a>   
        </div>
         <div class="col-lg-2 col-lg-offset-0 col-md-2 col-md-offset-0 col-xs-8 col-xs-offset-2 text-center">
              <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out Row Champion!" data-via="Gniriki" data-size="large">Tweet</a>
         </div>
     </div>
     
     <!--<div class="row pixelFont play-store">
        <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2 text-center">
            <a href='https://play.google.com/store/apps/details?id=com.Gniriki.RowChampion&referrer=utm_source%3DRowChampionWebSite%26utm_medium%3DTop&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
            <img class="img-responsive" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
        </div>
     </div>-->
     
     <br/>
     <div class="row">
         <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
            <iframe class="youtubeEmbed" width="854" height="480" src="https://www.youtube.com/embed/FygPX1D0xKg" frameborder="0" allowfullscreen></iframe>
        </div>

         <div class="col-lg-8 col-lg-offset-2 col-md-12 col-md-offset-0">
             <p>A game of timing and agility. Push the paddles at the right time to get biggest boost and defeat other players from around the world!</p>
        </div>
     </div>
     <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center">
            <h1>Screens:</h1>
     </div>
     <br/> 
     <br/>  
     <div class="row screens">
         <div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1 col-xs-10 col-xs-offset-1 text-center">
             <a href="/content/games/rowchampion/screen2.png" data-lightbox="image-1" data-title="Screen 5">
                <img class="img-responsive" src="/content/games/rowchampion/screen-score2.png""/>
             </a>
         </div>
         <div class="col-lg-4 col-lg-offset-0 col-md-5 col-md-offset-0 col-xs-10 col-xs-offset-1 text-center xs-margin-top">
             <a href="/content/games/rowchampion/screen2.png" data-lightbox="image-1" data-title="Screen 1">
                <img class="img-responsive" src="/content/games/rowchampion/screen2.png""/>
             </a>
         </div>
     </div>
     <br/>    
     <div class="row screens">
         <div class="col-lg-2 col-lg-offset-2 col-md-5 col-md-offset-1 col-xs-10 col-xs-offset-1">
             <a href="/content/games/rowchampion/screen1.png" data-lightbox="image-1" data-title="Screen 2">
                <img class="img-responsive" src="/content/games/rowchampion/screen1.png""/>
             </a>
         </div>
         <div class="col-lg-2 col-lg-offset-0 col-md-5 col-md-offset-0 col-xs-10 col-xs-offset-1 text-center xs-margin-top">
             <a href="/content/games/rowchampion/screen2.png" data-lightbox="image-1" data-title="Screen 3">
                <img class="img-responsive" src="/content/games/rowchampion/screen-menu.png""/>
             </a>
         </div>
         <div class="col-lg-2 col-lg-offset-0 col-md-5 col-md-offset-1 col-xs-10 col-xs-offset-1 text-center xs-margin-top md-margin-top">
             <a href="/content/games/rowchampion/screen2.png" data-lightbox="image-1" data-title="Screen 4">
                <img class="img-responsive" src="/content/games/rowchampion/screen-score.png""/>
             </a>
         </div>
         <div class="col-lg-2 col-lg-offset-0 col-md-5 col-md-offset-0 col-xs-8 col-xs-offset-2 text-center xs-margin-top md-margin-top">
             <a href="/content/games/rowchampion/boost_fire_2.gif" data-lightbox="image-1" data-title="Boost fire">
                <img class="img-responsive img-gif" src="/content/games/rowchampion/boost_fire_2.gif""/>
             </a>
         </div>
     </div>
     
     <!--<div class="row pixelFont">
        <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2 text-center">
            <a href='https://play.google.com/store/apps/details?id=com.Gniriki.RowChampion&referrer=utm_source%3DRowChampionWebSite%26utm_medium%3DBottom&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&campaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
            <img class="img-responsive" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
        </div>
     </div>-->
     
     <div class="pixels">
        
     </div>
     
     <script>
         var source;
         var create = true;
         var id = 0;
        $(document).ready(function() {
            for (i = 0; i < 150; i++) { 
               setTimeout(function() { createNew(); }, i * 100);
            }
        });
        
        
        var getRandom = function(min, max) {
            return Math.random() * (max - min) + min;
        }
        
        var createNew = function()
        {
            var newPixel = $('<div id="water_' + id + '" class="water-pixel"></div>');
            id=id+1;
            $('.pixels').append(newPixel);
            animPixel(newPixel)
        }
        
        var animPixel = function(newPixel)
        {
            var x = getRandom(10,$(window).width()-50);
            var y = getRandom(10,$(document).height()-10);
            newPixel.css('top', y);
            newPixel.css('left', x);
            newPixel.sprite({
                fps: 2,
                no_of_frames: 3,
                on_last_frame: function(obj) {
                    newPixel.spStop();
                    newPixel.remove();
                    newPixel.destroy();
                    createNew();
                }});
            newPixel.animate({
                left: "+=100"
              }, 5000, function() {
   
            });
        }
        
     </script>
</div>

