@{
    Layout = "_Layout.cshtml";
}

@section Header
{
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('/content/blog/post-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>@Metadata["Title"]</h1>
                    
                    <span class="meta">Posted on @Metadata["Published"]</span>
                </div>
            </div>
        </div>
    </div>
</header>
}

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                @RenderBody()
            </div>
        </div>
    </div>
</article>